<script src="https://kit.fontawesome.com/application.js" crossorigin="anonymous"></script>
<div class = "container">
  <div class = "row">
   <h1 class = "mt-3 px-3 mx-auto">Welcome to <i class="fas fa-book"></i><b>Bookers</b>!!</h1>
  </div>
</div>